{% extends "base.html" %}

{% block content %}
    <h1>Send messages</h1>
    {% for post in posts %}
    <div>
        <p> {{ post.author }} : {{ post.message}} </p>
    </div>
    {% endfor %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}
        </p>
        <p>
            {{ form.message.label }}<br>
            {{ form.message(size=128) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
